<div class='container'><h2>My name is Chris Wright</h2>

<h2>I like to code, swim, run, and 47 other things</h2>

<ul>
  <li class='category_title'>
    I recently graduated from <%= link_to '##Dev BootCamp', 'http://www.devbootcamp.com' %> in Chicago
    <ul class='hidden_content'>
      <li>DBC is an intensive, nine-week program that teached Ruby, Web Fundamentals, and (eventually) Ruby on Rails and Test Driven Development</li>
    </ul>
  </li>
  <li class='category_title'>
    I went to <%= link_to '##Pomona College', 'http://www.wikipedia.com/pomonacollege' %> in Claremont, California
    <ul class='hidden_content'>
      <li>I majored in mathematical economics and minored in biology</li>
      <li>I wrote a thesis on statistically predicting the outcome of MarchMadness basketball games<!-- add in link to pdf file for thesis here --></li>
      <li>I swam for four years as an NCAA athlete, picking up an Academic All-American honorable mention my sophomore year and was named a captain of the team my senior year</li>
    </ul>
  </li>
  <li class='category_title'>
    I went to Lincoln High School in Portland and recently returned to the LHS community as an assistant swim coach
  </li>
  <li class='category_title'>
    I am always working on side projects, most recently a <%= link_to '##Relationship Checkup Site', 'http://young-mesa-8988.herokuapp.com' %> for <%= link_to '##The Gottman Institute', 'http://www.GottmanInstitute.com' %>
    <ul class='hidden_content'>
      <li>I worked on a team of five developers to build a relationship checkup site for the Gottman Institute as a part of my final project at Dev BootCamp in Chicago. I am staying on and working with the Gottmans to finish the site after graduating DBC</li>
    </ul>
  </li>
  <li class='category_title'>
    I have tutored high school students in math and science for TutorDoctor
  </li>
  <li class='category_title'>
    I worked for a while teaching physicians how to use medical software
    <ul class='hidden_content'>
      <li>In fact, I applied to medical schools out of college before I decided to pursue my passion in programming</li>
    </ul>
  </li>
  <li class='category_title'>I love playing and watching sports
    <ul class='hidden_content'>
      <li>I love running, swimming, and playing basketball</li>
      <li>I love watching the <%= link_to '##Blazers', 'http://www.portlandblazers.com' %></li>
      <li>I love watching the <%= link_to '##Seahawks', 'http://www.seahawks.com' %> and the <%= link_to '##Mariners', 'http://www.mariners.com' %> </li>
      <li>I also love any sports of my alma maters, Pomona and Lincoln</li>
    </ul>
  </li>
</ul>

</div>