<img class='pull-left profile-pic' src="chris.jpg" height='75' width='75'>
<br>
<h2>Hi, I'm Chris</h2>
  <div class='span8'>
  <ul class='unstyled'>
    <li class='lead'>Builder of beautiful and meaningful software</li>
    <li class='lead'>Passionate learner; believer in <%= link_to 'behavior-driven development', 'http://en.wikipedia.org/wiki/Behavior-driven_development' %></li>
    <li class='lead'>Admirer of beautiful, innovative, yet simple code</li>
    <li class='lead'><%= link_to 'Portland', 'http://en.wikipedia.org/wiki/Portland,_Oregon' %> native; drinker of coffee and beer</li>
    <li class='lead'>Believer in <%= link_to 'being kind to people', 'http://en.wikipedia.org/wiki/Pay_it_forward' %></li>
    <li class='lead'>Reader of books; all-time favorite is <%= link_to 'Infinite Jest', 'http://en.wikipedia.org/wiki/Infinite_Jest' %></li>
    <li></li>
    <li class='lead'>Swimmer, runner, basketball player, and occasoinally a <%= link_to 'backpacker', 'http://en.wikipedia.org/wiki/Pacific_Crest_Trail' %></li>
    <li class='lead'>Fan of the number <%= link_to '47', 'http://www.pomona.edu/about/pomoniana/the-mystery-of-47.aspx' %></li>
  </ul>
  <div class='lead quote'>
  </div>
</div>
