<h1><%= @project.name %></h1>
<div><%= link_to 'Edit Project', edit_project_path(@project) %></div>
<div><%#= button_to 'Delete Project', :method => :delete %>need to add delete project button</div>
<div>Project completed for: <%= @project.company %></div>
<div><%= @project.description %></div>

<div><%= link_to 'see it live here', @project.url_path %></div>
