<!DOCTYPE html>
<html>
<head>
  <title>ChrisWrightSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='nav navbar navbar-top'>
  <ul>
    <li><%= link_to 'ChrisWright', home_page_path %></li>
    <li><%= link_to 'projects', projects_path %></li>
    <li>e - christopher.wright47@gmail.com</li>
    <li>p - 503.961.3876</li>
    <li>t - @chris_wright_47</li>
  </ul>
</div>
<%= yield %>

</body>
</html>
